body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 60vh;
    width: 80%;
    padding: 10px;
    background-color: rgb(97, 112, 124);
    border-radius: 4px;
    gap: 10px;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.aqua {
   grid-column: 1/3;
   background-color: aqua;
}

main {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1;
    gap: 10px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray {
    background-color: gray;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
    grid-column: 1/2;
}
.green {
    background-color: green;
    grid-column: 2/5;

}
.blue {
    background-color: blue;
    grid-column: 5/7;
}
.pink {
    background-color: pink;
}